<body>
  <div class="login-wrapper">
    <div class="container">
      <form (submit)="handleSubmit($event)">
        <dx-form>
          <!-- Email Field -->
          <dxi-item dataField="email"
                    editorType="dxTextBox"
                    [editorOptions]="{mode: 'email',placeholder: 'Enter your Email'}">
            <dxo-label text="Email"></dxo-label>
            <dxi-validation-rule type="required"
                                 message="Email is required">
            </dxi-validation-rule>
            <dxi-validation-rule type="email"
                                 message="Invalid email">
            </dxi-validation-rule>
          </dxi-item>
          <!-- Password Field -->
          <dxi-item dataField="password"
                    editorType="dxTextBox"
                    [editorOptions]="{ mode: 'password',placeholder: 'Enter your Password'}">
            <dxo-label text="Password"></dxo-label>
            <dxi-validation-rule type="required"
                                 message="Password is required">
            </dxi-validation-rule>
            <dxi-validation-rule type="pattern"
                                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{6,}$"
                                 message="Password does not match pattern">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item itemType="button"
                    [buttonOptions]="submitButtonOptions">
          </dxi-item>
        </dx-form>
      </form>
    </div>
  </div>
</body>
